@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixin.scss" as *;

/* hero Styles */
.hero-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 2.3rem;
    height: 80vh;
    max-width: 150rem;

&__content {
    max-width: fit-content;
}
&__slogan {
    font-size: 4rem;
    font-weight: 600;
    line-height: 4rem;
    padding: 1rem 0;
    text-transform: uppercase;
    color: #f4efdb;
    line-height: 5rem;
    width: 35rem;
}
&__details {
    padding-bottom: 2rem;
    color: #f4efdb;
}
&__image{
    width: 20rem;
   @include tablet{
    width: 23rem;
   }
   @include desktop{
    width: 30rem;
   }
}

}