
@keyframes shining {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

/* hero Styles */
.hero-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0C0C0C;
    padding: 1.8rem 2.3rem;
    height: 80vh;

&__content {
    width: 50%;
    max-width: fit-content;
    margin: 0 3rem;
}
&__slogan {
    font-size: 4rem;
    font-weight: 600;
    line-height: 4rem;
    padding: 1rem 0;
    text-transform: uppercase;
    color: #f4efdb;
    line-height: 5rem;
    width: 35rem;
}
&__layer {
    position: absolute;
    top: 10rem;
    right: 0;
    width: 50%;
    height: 30rem;
    background: radial-gradient(circle, rgb(255, 215, 17) 10%, rgba(255, 255, 255, 0) 70%);
    animation: shining 2s infinite alternate;
    margin: 1.25rem 0;
    padding: .9375rem;
    max-width: 37.5rem;
    min-width: 15rem;
}
&__details {
    padding-bottom: 2rem;
    color: #f4efdb;
}

}